<h1>Teste</h1>

<div class="row">
  <div ng-repeat="tag in post.tags" class="ml-2">
    <span class="badge badge-info col-sm">{{tag.name}}<button class="test"
        ng-click="deleteTag(post.id, tag.id)"></button></span>
  </div>
</div>

<div class="card">
  <form class="card-body">
    <div class="form-group col-md-4">
      <label for="inputState">Add Tag</label>
      <select id="inputState" class="form-control" ng-model="newTag.id" ng-model-options="{allowInvalid:true}">
        <option ng-repeat="tag in tags">{{tag.id}} - {{tag.name}}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-dark" ng-click="addTag(newTag, post.id)">Atualizar</button>
  </form>
</div>